In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
covid_cases_raw_file = "../Raw_Data/CA_County_Covid_Cases.csv"
covid_cases_raw = pd.read_csv(covid_cases_raw_file)
covid_cases_raw.head()

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,3/18/2020
1,Santa Clara,183.0,8.0,32,2,3/19/2020
2,Santa Clara,246.0,8.0,63,0,3/20/2020
3,Santa Clara,269.0,10.0,23,2,3/21/2020
4,Santa Clara,284.0,13.0,15,3,3/22/2020

In [60]:
new_covid_cases_raw = covid_cases_raw[['county', 'totalcountconfirmed', 'date']].copy()
new_covid_cases_raw.head()
new_covid_cases_with_dates = new_covid_cases_raw.rename(columns = {"county": "County",
                                         "totalcountconfirmed": "Total Case Count",
                                         "date": "Date"})
new_covid_cases_with_dates.head()
#list(new_covid_cases_raw.columns)

        County  Total Case Count       Date
0  Santa Clara             151.0  3/18/2020
1  Santa Clara             183.0  3/19/2020
2  Santa Clara             246.0  3/20/2020
3  Santa Clara             269.0  3/21/2020
4  Santa Clara             284.0  3/22/2020

In [62]:
new_covid_cases_with_dates.to_csv("../Raw_Data/Covid_Cases_with_Dates.csv")

In [6]:
unemployment_numbers_file = "../Raw_Data/CA_Unemployment.csv"
unemployment_numbers_raw = pd.read_csv(unemployment_numbers_file)
unemployment_numbers_raw.head(20)

,Area Type,Area Name,Date,Year,Month,Seasonally Adjusted (Y/N),Status (Preliminary / Final),Labor Force,Employment,Unemployment,Unemployment Rate
0,State,California,1/1/1976,1976,January,Y,Final,9734600,8836000,898600,0.092
1,State,California,1/1/1977,1977,January,Y,Final,10132600,9201400,931100,0.092
2,State,California,1/1/1978,1978,January,Y,Final,10675100,9868400,806700,0.076
3,State,California,1/1/1979,1979,January,Y,Final,11130900,10404200,726700,0.065
4,State,California,1/1/1980,1980,January,Y,Final,11479800,10774000,705800,0.061
5,State,California,1/1/1981,1981,January,Y,Final,11729700,10899600,830100,0.071
6,State,California,1/1/1982,1982,January,Y,Final,11993000,10941400,1051600,0.088
7,State,California,1/1/1983,1983,January,Y,Final,12242200,10900400,1341800,0.110
8,State,California,1/1/1984,1984,January,Y,Final,12410400,11384000,1026400,0.083
9,State,California,1/1/1985,1985,January,Y,Final,12875700,11936200,939500,0.073
10,State,California,1/1/1986,1986,January,Y,Final,13136300,12241900,894400,0.068
11,State,California,1/1/1987,1987,January,Y,Final,13560400,12694700,865700,0.064
12,State,California,1/1/1988,1988,January,Y,Final,13957300,13205200,752000,0.054
13,State,California,1/1/1989,1989,January,Y,Final,14372300,13646800,725500,0.050
14,State,California,1/1/1990,1990,January,N,Final,14953900,14099700,854200,0.057
15,State,California,1/1/1990,1990,January,Y,Final,15006700,14230600,776100,0.052
16,County,Alameda County,1/1/1990,1990,January,N,Final,676600,650600,26000,0.038
17,County,Alpine County,1/1/1990,1990,January,N,Final,600,580,20,0.025
18,County,Amador County,1/1/1990,1990,January,N,Final,11100,10350,760,0.068
19,County,Butte County,1/1/1990,1990,January,N,Final,76800,69400,7400,0.096

In [19]:
new_unemployment_numbers = unemployment_numbers_raw.loc[(unemployment_numbers_raw['Area Type '] == 'County') & (unemployment_numbers_raw['Year '] == 2020) & (unemployment_numbers_raw['Month'] != 'January') & (unemployment_numbers_raw['Month'] != 'February')]
new_unemployment_numbers.head()
list(new_unemployment_numbers.columns)

['Area Type ',
 'Area Name ',
 'Date',
 'Year ',
 'Month',
 'Seasonally Adjusted (Y/N) ',
 'Status (Preliminary / Final) ',
 'Labor Force',
 'Employment ',
 'Unemployment ',
 'Unemployment Rate ']

In [45]:
# unemployment_columns = ["Area Name", "Date", "Unemployment"]
# unemployment_transformed = new_unemployment_numbers[unemployment_columns].copy()
# unemployment_transformed = unemployment_transformed.rename(columns = {"Area Name": "County",
#                                                                      "Date": "Date",
#                                                                      "Unemployment": "Unemployment"})
# unemployment_transformed.head()

unemployment_transformed= new_unemployment_numbers[['Area Name ', 'Date', 'Unemployment ']].copy()
unemployment_transformed = unemployment_transformed.rename(columns = {"Area Name": "County",
                                                                     "date": "Date",
                                                                     "Unemployment": "Unemployment"})
unemployment_transformed.head()

             Area Name       Date  Unemployment
38240    Alameda County  3/1/2020          32700
38241     Alpine County  3/1/2020             40
38242     Amador County  3/1/2020            810
38243      Butte County  3/1/2020           6800
38244  Calaveras County  3/1/2020           1180

In [63]:
unemployment_transformed.to_csv("../Raw_Data/Unemployment_with_Dates.csv")

In [23]:
home_price_file = "../Raw_Data/Zillow_House_Prices.csv"
home_price_raw = pd.read_csv(home_price_file)
home_price_raw.head(20)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1/31/1996,...,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020
0,3101,0,Los Angeles County,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,37,176350.0,...,636618,639846,643159,648559,653908,658518,660247,661463,666544,674103
1,139,1,Cook County,County,IL,IL,Chicago-Naperville-Elgin,17,31,150922.0,...,247675,247438,247419,247619,248038,248354,248754,249334,250510,252048
2,1090,2,Harris County,County,TX,TX,Houston-The Woodlands-Sugar Land,48,201,100906.0,...,200641,201191,201334,201776,202686,203770,204616,205126,205742,206470
3,2402,3,Maricopa County,County,AZ,AZ,Phoenix-Mesa-Scottsdale,4,13,118462.0,...,295749,298171,300578,302803,305418,308973,312112,314935,317636,321242
4,2841,4,San Diego County,County,CA,CA,San Diego-Carlsbad,6,73,183727.0,...,611093,614236,618714,622347,626600,629514,633148,635417,638576,643903
5,1286,5,Orange County,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,59,210145.0,...,746758,748015,751428,756030,760912,764278,765411,766346,769283,775797
6,581,6,Kings County,County,NY,NY,New York-Newark-Jersey City,36,47,165216.0,...,662807,661174,660608,660402,661149,662551,664164,665642,667563,671297
7,2964,7,Miami-Dade County,County,FL,FL,Miami-Fort Lauderdale-West Palm Beach,12,86,115061.0,...,319630,319930,320184,321980,323305,324459,325768,327126,328887,330961
8,978,8,Dallas County,County,TX,TX,Dallas-Fort Worth-Arlington,48,113,96675.0,...,223091,222975,223039,223032,223404,224345,225459,226580,227704,228505
9,1347,9,Queens County,County,NY,NY,New York-Newark-Jersey City,36,81,165315.0,...,524074,524614,525417,526280,526632,527369,527486,528498,529980,531772
10,2832,10,Riverside County,County,CA,CA,Riverside-San Bernardino-Ontario,6,65,138333.0,...,395583,397931,398325,399386,400102,402010,404565,407123,409971,413913
11,3250,11,San Bernardino County,County,CA,CA,Riverside-San Bernardino-Ontario,6,71,114304.0,...,359797,361508,362925,364813,367028,369653,370722,372515,375547,379973
12,445,12,Clark County,County,NV,NV,Las Vegas-Henderson-Paradise,32,3,150747.0,...,289751,290371,291424,292258,294352,296129,297276,297770,299219,302071
13,207,13,King County,County,WA,WA,Seattle-Tacoma-Bellevue,53,33,182063.0,...,628041,633375,639089,643926,648812,654046,658117,663759,670738,680130
14,791,14,Wayne County,County,MI,MI,Detroit-Warren-Dearborn,26,163,69366.0,...,110417,110903,111561,112124,112858,113563,113968,114393,115262,116609
15,2049,15,Tarrant County,County,TX,TX,Dallas-Fort Worth-Arlington,48,439,101790.0,...,223299,223758,224233,225134,226218,227396,228354,229711,231243,233358
16,3136,16,Santa Clara County,County,CA,CA,San Jose-Sunnyvale-Santa Clara,6,85,249232.0,...,1118878,1125830,1138763,1151196,1164290,1171084,1176628,1186198,1201319,1226635
17,1561,17,Broward County,County,FL,FL,Miami-Fort Lauderdale-West Palm Beach,12,11,100282.0,...,277888,278231,278994,280360,281511,283141,284832,286356,287014,288265
18,386,18,Bexar County,County,TX,TX,San Antonio-New Braunfels,48,29,99398.0,...,193641,193792,194325,194493,195122,195383,195812,196181,196837,197654
19,2452,19,New York County,County,NY,NY,New York-Newark-Jersey City,36,61,211922.0,...,996830,996540,995896,994448,988905,987903,985015,984306,979738,979575

In [29]:
new_home_price_raw = home_price_raw.loc[(home_price_raw['State'] == 'CA')]
new_home_price_raw.head()
new_home_price_raw_copy = new_home_price_raw.copy()

In [31]:
home = new_home_price_raw_copy[["RegionName", "State", "2/29/2020", "3/31/2020", 
             "4/30/2020", "5/31/2020", "6/30/2020", "7/31/2020", "8/31/2020"]]
#home["county"] = pd.Series(home["RegionName"]).str.split(" ").str[:-1].apply(' '.join)
home.head()

,RegionName,State,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020
0,Los Angeles County,CA,648559,653908,658518,660247,661463,666544,674103
4,San Diego County,CA,622347,626600,629514,633148,635417,638576,643903
5,Orange County,CA,756030,760912,764278,765411,766346,769283,775797
10,Riverside County,CA,399386,400102,402010,404565,407123,409971,413913
11,San Bernardino County,CA,364813,367028,369653,370722,372515,375547,379973

In [33]:
home = home.melt(id_vars=["RegionName", "State"], 
        var_name="date", 
        value_name="price")
home.head()

              RegionName State       date   price
0     Los Angeles County    CA  2/29/2020  648559
1       San Diego County    CA  2/29/2020  622347
2          Orange County    CA  2/29/2020  756030
3       Riverside County    CA  2/29/2020  399386
4  San Bernardino County    CA  2/29/2020  364813

In [48]:
home_transformed = home.rename(columns = {"RegionName": "County",
                                         "State": "State",
                                         "date": "Date",
                                         "price": "Price"})
home_transformed.head()

                  County State       Date   Price
0     Los Angeles County    CA  2/29/2020  648559
1       San Diego County    CA  2/29/2020  622347
2          Orange County    CA  2/29/2020  756030
3       Riverside County    CA  2/29/2020  399386
4  San Bernardino County    CA  2/29/2020  364813

In [64]:
home_transformed.to_csv("../Raw_Data/Home_Prices_with_Dates.csv")

In [53]:
connection_string = "postgres:924runner@localhost:5432/covid_with_dates"
engine = create_engine(f'postgresql://{connection_string}')

In [57]:
engine.table_names()

['covid_cases_date', 'unemployment_numbers_date', 'home_price_date']

In [58]:
new_covid_cases_raw.to_sql(name = 'covid_cases_date', con = engine, if_exists= 'append', index= True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "County" of relation "covid_cases_date" does not exist
LINE 1: INSERT INTO covid_cases_date (index, "County", "Total Case C...
                                             ^

[SQL: INSERT INTO covid_cases_date (index, "County", "Total Case Count", "Date") VALUES (%(index)s, %(County)s, %(Total Case Count)s, %(Date)s)]
[parameters: ({'index': 0, 'County': 'Santa Clara', 'Total Case Count': 151.0, 'Date': '3/18/2020'}, {'index': 1, 'County': 'Santa Clara', 'Total Case Count': 183.0, 'Date': '3/19/2020'}, {'index': 2, 'County': 'Santa Clara', 'Total Case Count': 246.0, 'Date': '3/20/2020'}, {'index': 3, 'County': 'Santa Clara', 'Total Case Count': 269.0, 'Date': '3/21/2020'}, {'index': 4, 'County': 'Santa Clara', 'Total Case Count': 284.0, 'Date': '3/22/2020'}, {'index': 5, 'County': 'Santa Clara', 'Total Case Count': 336.0, 'Date': '3/23/2020'}, {'index': 6, 'County': 'Santa Clara', 'Total Case Count': 389.0, 'Date': '3/24/2020'}, {'index': 7, 'County': 'Santa Clara', 'Total Case Count': 452.0, 'Date': '3/25/2020'}  ... displaying 10 of 11585 total bound parameter sets ...  {'index': 11583, 'County': 'Yolo', 'Total Case Count': 2789.0, 'Date': '9/26/2020'}, {'index': 11584, 'County': 'Yolo', 'Total Case Count': 2796.0, 'Date': '9/27/2020'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [52]:
# unemployment_numbers.to_sql(name = 'unemployment_numbers_date', con = engine, if_exists = 'append', index = True)

In [56]:
# home_transformed.to_sql(name = 'home_price_date', con = engine, if_exists = 'append', index = True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "County" of relation "home_price_date" does not exist
LINE 1: INSERT INTO home_price_date (index, "County", "State", "Date...
                                            ^

[SQL: INSERT INTO home_price_date (index, "County", "State", "Date", "Price") VALUES (%(index)s, %(County)s, %(State)s, %(Date)s, %(Price)s)]
[parameters: ({'index': 0, 'County': 'Los Angeles County', 'State': 'CA', 'Date': '2/29/2020', 'Price': 648559}, {'index': 1, 'County': 'San Diego County', 'State': 'CA', 'Date': '2/29/2020', 'Price': 622347}, {'index': 2, 'County': 'Orange County', 'State': 'CA', 'Date': '2/29/2020', 'Price': 756030}, {'index': 3, 'County': 'Riverside County', 'State': 'CA', 'Date': '2/29/2020', 'Price': 399386}, {'index': 4, 'County': 'San Bernardino County', 'State': 'CA', 'Date': '2/29/2020', 'Price': 364813}, {'index': 5, 'County': 'Santa Clara County', 'State': 'CA', 'Date': '2/29/2020', 'Price': 1151196}, {'index': 6, 'County': 'Alameda County', 'State': 'CA', 'Date': '2/29/2020', 'Price': 877331}, {'index': 7, 'County': 'Sacramento County', 'State': 'CA', 'Date': '2/29/2020', 'Price': 392257}  ... displaying 10 of 406 total bound parameter sets ...  {'index': 404, 'County': 'Sierra County', 'State': 'CA', 'Date': '8/31/2020', 'Price': 240355}, {'index': 405, 'County': 'Alpine County', 'State': 'CA', 'Date': '8/31/2020', 'Price': 428056})]
(Background on this error at: http://sqlalche.me/e/f405)